/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupar al menos el 100% de la altura de la ventana */
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 32px;
}

header img {
    max-width: 100%;
    height: auto; 
}

/* Estilos para el cuerpo de la página */
main {
    flex: 1; /* Ocupar todo el espacio disponible entre el encabezado y el pie de página */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    flex-direction: column; /* Cambiar la dirección del eje principal a vertical */
}

button {
    padding: 10px 20px; 
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

p#codigoColor {
    display: none; /* Inicialmente oculto */
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}