/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;  /* Cambia la fuente principal */
    line-height: 1.6; /* Ajusta el espaciado entre líneas */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupar al menos el 100% de la altura de la ventana */
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2em; /* Cambia el tamaño de la fuente del encabezado */
    margin-bottom: 10px; /* Añade espacio debajo del título */
}

header img {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    
}

/* Estilos para el cuerpo de la página */
main {
    flex: 1; /* Ocupar todo el espacio disponible entre el encabezado y el pie de página */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    flex-direction: column; /* Cambiar la dirección del eje principal a vertical */
}

button {
    padding: 10px 20px; /* Añade relleno al botón */
    font-size: 1em; /* Tamaño de la fuente del botón */
    cursor: pointer;
    margin-bottom: 10px; /* Agregar margen inferior al botón */
    font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins al botón */

}

/* Estilos para mostrar el código del color debajo del botón */
p#codigoColor {
    display: none; /* Inicialmente oculto */
    margin-top: 0; /* Eliminar margen superior */
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}